server {
    listen {{ http_port }};
    root /var/www/html;
    index index.php index.html index.htm index.nginx-debian.html;
    server_name {{ http_host }};

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include {{ lemp_nginx_include }};
        fastcgi_pass {{ lemp_php_fpm_sock_address }};
        {{ lemp_fastcgi_param }}
    }

    location ~ /\.ht {
        deny all;
    }
}